* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  height: 80px;
  border: 1px black solid;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
}
.txt {
  width: 200px;
  height: 65px;
  border: 1px black solid;
  color: white;
  text-align: center;
  padding: 15px 0 0 0;
  margin: 0 0 0 30px;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  color: white;
}
.menu li {
  margin-right: 20px;
}
.orta {
  background-color: #1abc9c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  position: relative;
}
.imgg {
  width: 241px;
  height: 251px;
  border: 1px black solid;
}
.txt2 {
  width: 190px;
  height: 70px;
  color: white;
  border: 1px black solid;
  /* margin: 250px 0 0 0; */
  
}
.icon{
    width: 50px; height: 50px;  position: relative; margin-top: -30px;
}
.icon::before{
    content: '';
    position: absolute;
    left: 45px;
    width: 50%;
    height: 3px;
    top: 15px;
        background: #fff;
    
}
.icon::after{
    content: '';
    position: absolute;
    left: -40px;
    width: 50%;
    height: 3px;
    top: 15px;
        background: #fff;
    
}